
@media only screen and (min-width: 320px) and (max-width: 479px) {
.top-call{ display:none;}
.top-menu-log{ float:none; padding:0; width:inherit;}
.skip-account .label{ padding:0; border:none;}
.login-link{ display:none;}
.cart-check{ border:none; background:none; float:none; width:inherit;}
.check-link{ display:none;}
.account-cart-wrapper{ width:auto;}
.top-call{ display:none;}
.header-minicart{ float:none;}
.mainbanner{ width:100%;}
.top-banner{ display:none;}
.latest-products-info .item{ height:auto;}
#owl-demo3 .item:hover .div-add{ display:none;}
.networking-sec{ float:none;}
.customproduct{ display:inline-block; width:100%; text-align:center;}
.networking-sec h2{ float:none; display:inline-block; text-align:center; padding:1em 0; clear:both;}
#networking{ display:inline-block; text-align:center; float:none; text-align:center; width:100%;}
.networking{ display:inline-block; width:auto;}
.cat-section{ display:inline-block; float:none; width:100%; text-align:center;}
.cat-section ul{ float:none; display:inline-block; width:48%;}
.cat-section ul li{ float:none; display:inline-block;}
.dyn-cat{ display:none;}
#networking2{ float:none; display:inline-block; width:100%;}
.cat-right{ float:none !important;}
.storage-devices-sec h2{ float:none; display:inline-block; width:100%; clear:both; text-align:center; padding:1em 0;}
.cat-devices {
    display: inline-block;
    float: none;
    margin: 0 5px 0 0;
    max-width: 268px;
    padding: 20px 0 0;
    text-align: center;
    width: 100%;
}
.cat-devices ul {
    display: inline-block;
    float: none;
    list-style: outside none none;
    margin: 0 1% 0 0;
    padding: 0;
    text-align: center;
    width: 48%;
}
.cat-devices ul li {
    display: inline-block;
    float: none;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.servers-sec h2{ float:none; text-align:center; display:inline-block; width:100%;}
#networking3{ float:none; display:inline-block; width:100%;}
.cat-servers {
    display: inline-block;
    float: none;
    margin: 0 5px 0 0;
    max-width: 268px;
    padding: 20px 0 0;
    width: 100%;
}
#about-section ul li{ display:inline-block; width:100%; margin-bottom:2em;}
.footer .block-subscribe .input-box{ width:65%;}
.block-subscribe .block-title{ float:none;}
#org-social h1{ display:none;}
#org-social ul {
    display: inline-block;
    list-style: outside none none;
    margin: 1em 0 2em;
    padding: 0;
    text-align: center;
    width: 100%;
}
#org-social ul li {
    display: inline-block;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    width: auto;
}
#org-social ul li a{ display:inline-block;}
.f-col1 {
    float: none;
    margin: 0 2em;
    padding: 1.5em 0 2em 1%;
    width: auto;
	overflow:hidden;
}
.f-col2 {
    float: none;
    margin: 0 2em;
    overflow: hidden;
    padding: 1.5em 0 0 1%;
    width: auto;
}
.f-col3 {
    float: none;
    margin: 0 2em;
    overflow: hidden;
    padding: 1.5em 0 0 1%;
    text-align: left;
    width: auto;
}
.f-col4 {
    float: none;
    margin: 0 2em;
    overflow: hidden;
    padding: 1.5em 0 0;
    text-align: left;
    width: auto;
}
.logo{ display:inline-block; width:100%; text-align:center;}
.logo .small{ display:inline-block;}
.brand-section ul li{ float:none; display:inline-block; width:48%;}
.brand-section ul li img{ width:100%;}
.footer .block-subscribe{  float: none;
    margin: 0 2em;
    width: auto;}
#about-section p{ height:auto;}
.products-grid .product-image img{ width:100%;}
.products-grid > li:hover .div-items-box{ display:none;}
.block-tags .block-title strong{ background:#ea4f47;}
.product-view .add-to-cart-wrapper{ float:none !important; width:98% !important;}
.cart-forms .discount{ float:none; width:98%;}
.cart-forms .shipping {  float: none; width: 98%;}
.display-both-prices .cart-forms .discount{ float:none; width:98%;}
.display-both-prices .cart-forms .shipping {  float: none; width: 98%;}
.header-ship{ display:none;}
.header-compare{ display:none;}
.header-miniquote{ display:none;}
	}
 @media only screen and (min-width: 480px) and (max-width: 768px) {
	 .header-ship{ display:none;}
.top-call{ display:none;}
.top-menu-log{ float:none; padding:0; width:inherit;}
.skip-account .label{ padding:0; border:none;}
.login-link{ display:none;}
.cart-check{ border:none; background:none; float:none; width:inherit;}
.check-link{ display:none;}
.account-cart-wrapper{ width:auto;}
.top-call{ display:none;}
.header-minicart{ float:none;}
.mainbanner{ width:100%;}
.top-banner{ display:none;}
.latest-products-info .item{ height:auto;}
#owl-demo3 .item:hover .div-add{ display:none;}
.networking-sec{ float:none;}
.customproduct{ display:inline-block; width:100%; text-align:center;}
.networking-sec h2{ float:none; display:inline-block; text-align:center; padding:1em 0; clear:both;}
#networking{ display:inline-block; text-align:center; float:none; text-align:center; width:100%;}
.networking{ display:inline-block; width:auto;}
.cat-section{ display:inline-block; float:none; width:100%; text-align:center;}
.cat-section ul{ float:none; display:inline-block; width:48%;}
.cat-section ul li{ float:none; display:inline-block;}
.dyn-cat{ display:none;}
#networking2{ float:none; display:inline-block; width:100%;}
.cat-right{ float:none !important;}
.storage-devices-sec h2{ float:none; display:inline-block; width:100%; clear:both; text-align:center; padding:1em 0;}
.cat-devices {
    display: inline-block;
    float: none;
    margin: 0 5px 0 0;
    max-width: 268px;
    padding: 20px 0 0;
    text-align: center;
    width: 100%;
}
.cat-devices ul {
    display: inline-block;
    float: none;
    list-style: outside none none;
    margin: 0 1% 0 0;
    padding: 0;
    text-align: center;
    width: 48%;
}
.cat-devices ul li {
    display: inline-block;
    float: none;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.servers-sec h2{ float:none; text-align:center; display:inline-block; width:100%;}
#networking3{ float:none; display:inline-block; width:100%;}
.cat-servers {
    display: inline-block;
    float: none;
    margin: 0 5px 0 0;
    max-width: 268px;
    padding: 20px 0 0;
    width: 100%;
}
#about-section ul li{ display:inline-block; width:100%; margin-bottom:2em;}
.footer .block-subscribe .input-box{ width:65%;}
.block-subscribe .block-title{ float:none;}
#org-social h1{ display:none;}
#org-social ul {
    display: inline-block;
    list-style: outside none none;
    margin: 1em 0 2em;
    padding: 0;
    text-align: center;
    width: 100%;
}
#org-social ul li {
    display: inline-block;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    width: auto;
}
#org-social ul li a{ display:inline-block;}
.f-col1 {
    float: none;
    margin: 0;
    padding: 1.5em 0 2em 1%;
    width: 100%;
	overflow:hidden;
}
.f-col2 {
    float: none;
    margin: 0;
    overflow: hidden;
    padding: 1.5em 0 0 1%;
    width: 100%;
}
.f-col3 {
    float: none;
    margin: 0;
    overflow: hidden;
    padding: 1.5em 0 0 1%;
    text-align: left;
    width: 100%;
}
.f-col4 {
    float: none;
    margin: 0;
    overflow: hidden;
    padding: 1.5em 0 0;
    text-align: left;
    width: 100%;
}
.logo{ display:inline-block; width:100%; text-align:center;}
.logo .small{ display:inline-block;}
.brand-section ul li{ float:none; display:inline-block; width:48%;}
.brand-section ul li img{ width:100%;}
.footer .block-subscribe{ float:none;}
.products-grid .product-image img{ width:100%;}
.products-grid > li:hover .div-items-box{ display:none;}
.block-tags .block-title strong{ background:#ea4f47;}
.product-view .add-to-cart-wrapper{ float:none !important; width:98% !important;}
.cart-forms .discount{ float:none; width:98%;}
.cart-forms .shipping {  float: none;  width: 98%;}
.display-both-prices .cart-forms .discount{ float:none; width:98%;}
.display-both-prices .cart-forms .shipping {  float: none;  width: 98%;}
.header-ship{ display:none;}
.header-compare{ display:none;}
.header-miniquote{ display:none;}
	}
 @media only screen and (min-width: 600px) and (max-width: 768px) {
.top-call{ display:none;}
.top-menu-log{ float:none; padding:0; width:inherit;}
.skip-account .label{ padding:0; border:none;}
.login-link{ display:none;}
.cart-check{ border:none; background:none; float:none; width:inherit;}
.check-link{ display:none;}
.account-cart-wrapper{ width:auto;}
.top-call{ display:none;}
.header-minicart{ float:none;}
.mainbanner{ width:100%;}
.top-banner{ display:none;}
.latest-products-info .item{ height:auto;}
#owl-demo3 .item:hover .div-add{ display:none;}
.networking-sec{ float:none;}
.customproduct{ display:inline-block; width:100%; text-align:center;}
.networking-sec h2{ float:none; display:inline-block; text-align:center; padding:1em 0; clear:both;}
#networking{ display:inline-block; text-align:center; float:none; text-align:center; width:100%;}
.networking{ display:inline-block; width:auto;}
.cat-section{ display:inline-block; float:none; width:100%; text-align:center;}
.cat-section ul{ float:none; display:inline-block; width:48%;}
.cat-section ul li{ float:none; display:inline-block;}
.dyn-cat{ display:none;}
#networking2{ float:none; display:inline-block; width:100%;}
.cat-right{ float:none !important;}
.storage-devices-sec h2{ float:none; display:inline-block; width:100%; clear:both; text-align:center; padding:1em 0;}
.cat-devices {
    display: inline-block;
    float: none;
    margin: 0 5px 0 0;
    max-width: 268px;
    padding: 20px 0 0;
    text-align: center;
    width: 100%;
}
.cat-devices ul {
    display: inline-block;
    float: none;
    list-style: outside none none;
    margin: 0 1% 0 0;
    padding: 0;
    text-align: center;
    width: 48%;
}
.cat-devices ul li {
    display: inline-block;
    float: none;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.servers-sec h2{ float:none; text-align:center; display:inline-block; width:100%;}
#networking3{ float:none; display:inline-block; width:100%;}
.cat-servers {
    display: inline-block;
    float: none;
    margin: 0 5px 0 0;
    max-width: 268px;
    padding: 20px 0 0;
    width: 100%;
}
#about-section ul li{ display:inline-block; width:100%; margin-bottom:2em;}
.footer .block-subscribe .input-box{ width:65%;}
.block-subscribe .block-title{ float:none;}
#org-social h1{ display:none;}
#org-social ul {
    display: inline-block;
    list-style: outside none none;
    margin: 1em 0 2em;
    padding: 0;
    text-align: center;
    width: 100%;
}
#org-social ul li {
    display: inline-block;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    width: auto;
}
#org-social ul li a{ display:inline-block;}
.f-col1 {
    float: none;
    margin: 0;
    padding: 1.5em 0 2em 1%;
    width: 100%;
	overflow:hidden;
}
.f-col2 {
    float: none;
    margin: 0;
    overflow: hidden;
    padding: 1.5em 0 0 1%;
    width: 100%;
}
.f-col3 {
    float: none;
    margin: 0;
    overflow: hidden;
    padding: 1.5em 0 0 1%;
    text-align: left;
    width: 100%;
}
.f-col4 {
    float: none;
    margin: 0;
    overflow: hidden;
    padding: 1.5em 0 0;
    text-align: left;
    width: 100%;
}
.logo{ display:inline-block; width:100%; text-align:center;}
.logo .small{ display:inline-block;}
.brand-section ul li{ float:none; display:inline-block; width:48%;}
.brand-section ul li img{ width:100%;}
.footer .block-subscribe{ float:none;}
.products-grid .product-image img{ width:100%;}
.products-grid > li:hover .div-items-box{ display:none;}
.block-tags .block-title strong{ background:#ea4f47;}
.product-view .add-to-cart-wrapper{ float:none !important; width:98% !important;}
.cart-forms .discount{ float:none; width:98%;}
.cart-forms .shipping {    float: none;    width: 98%;}
.display-both-prices .cart-forms .discount{ float:none; width:98%;}
.display-both-prices .cart-forms .shipping {    float: none;    width: 98%;}
.header-ship{ display:none;}
.header-compare{ display:none;}
.header-miniquote{ display:none;}
	}
 @media only screen and (min-width: 769px) and (max-width: 900px) {.account-cart-wrapper {
    position: absolute;
    right: 0;
    top: 0;
    width: 87%;
}}
